@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* background-color: black; */
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  max-width: 100%;
  /* height: 50vh; */
  margin: auto;
  background-color: #1f2937;
  color: white;
}
.nav-header {
  margin: auto;
  padding: 20px 0px 80px;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}
.header-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #e5e7eb;
  font-size: 18px;
}
.link {
  text-decoration: none;
  color: #e5e7eb;
  vertical-align: -webkit-baseline-middle;
}
.intro {
  display: flex;
  max-width: 1024px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 80px;
}
.intro-wrapper {
  width: 450px;
}
.intro-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.intro-text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}
.intro-button {
  width: 120px;
  height: 40px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 18px;
  border-radius: 7px;
  margin-top: 15px;
  border: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.intro-img {
  width: 550px;
  height: 235px;
  background-color: cadetblue;
  object-fit: cover;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.content {
}
.info {
  background-color: white;
}
.info-title {
  text-align: center;
  color: #1f2936;
  font-size: 36px;
  font-weight: 900;
  padding-top: 55px;
  padding-bottom: 45px;
}
.info-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 100px;
}
.card-img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border: 5px solid #3882f6;
  border-radius: 8px;
}
.card-text {
  max-width: 176px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 120px 0px 100px;
}
.blockquote {
  max-width: 794px;
  display: flex;
  flex-direction: column;
}
.blockquote h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  text-align: start;
}
.blockquote p {
  font-size: 24px;
  font-weight: 700;
  text-align: end;
}

.action {
  background-color: white;
}
.action {
  background-color: white;
  padding: 100px;
}
.action-wrapper {
  max-width: 1024px;
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  margin: auto;
  padding: 40px 90px;
  border-radius: 10px;
}
.action-heading {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}
.action-text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}
.action-button {
  width: 120px;
  height: 40px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 18px;
  border-radius: 7px;
  margin-top: 15px;
  border: 2px solid #e5e7eb;
}
footer {
  background-color: #1f2937;
}
.footer-text {
  font-size: 18px;
  font-weight: 400;
  color: #e5e7eb;
  padding: 40px 0px;
  text-align: center;
}
